<ion-grid>
  <ion-row>
    <ion-col><button (click)="operation(1)">+</button></ion-col>
    <ion-col><button (click)="operation(2)">-</button></ion-col>
    <ion-col><button (click)="operation(3)">*</button></ion-col>
    <ion-col><button (click)="operation(4)">/</button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col><button (click)="constructParts(7)">7</button></ion-col>
    <ion-col><button (click)="constructParts(8)">8</button></ion-col>
    <ion-col><button (click)="constructParts(9)">9</button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col><button (click)="constructParts(4)">4</button></ion-col>
    <ion-col><button (click)="constructParts(5)">5</button></ion-col>
    <ion-col><button (click)="constructParts(6)">6</button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col><button (click)="constructParts(1)">1</button></ion-col>
    <ion-col><button (click)="constructParts(2)">2</button></ion-col>
    <ion-col><button (click)="constructParts(3)">3</button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col><button (click)="constructParts(10)">.</button></ion-col>
    <ion-col><button (click)="constructParts(0)">0</button></ion-col>
    <ion-col><button (click)="equal()">=</button></ion-col>
  </ion-row>
</ion-grid>

<ion-content>
  <p id="output"></p>
</ion-content>
